// police //
body {
    font-family: 'Roboto',sans-serif;
    margin: 0px;
}

h1, h2 {
    font-size: 24px;
}

.sub__title{
    font-size: 18px;
 }

 .text {
    font-size: 16px;
 }

 h2 {
    margin-top: 40px;
}

h3, p {
    margin: 0px;
}

 .main-container {
    display: flex;
    flex-direction: column;
}

// VARIABLE MIXIN


//  couleurs

$main-gradient: linear-gradient(#9356DC,#FF79DA);
$second-gradient: linear-gradient(#FF79DA,#9356DC);

$color-text: #353535;

$background-color-grey: #F6F6F6;

$color-icons: #7E7E7E;

// display flex centré

@mixin display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

// ombre

@mixin shadow-main ($opacity) {
    $x: 0px;            
    $y: 4px;            
    $blur: 15px;        
    $spread: 0px;       
    $color: rgba(0, 0, 0, 1);
    $calculated-opacity: $opacity / 100;
    box-shadow: $x $y $blur $spread rgba(0, 0, 0, $calculated-opacity);
}



//  header

.header-logo {
    @include display-flex;
    height: 69px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 2;
        .header-logo img {
            width: 197px;
            height: 36px;
    }
}

nav {
    @include display-flex;
    width: 100%;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #EAEAEA;
    position: relative;
    z-index: 1;
        .nav__form {
            @include display-flex;
            gap: 17px;
                .nav__form__recherche {
                    border: none;
                    background-color: #EAEAEA;
                }

    }
}

#Paris::placeholder {
    color: $color-text;
    font-size: 16px;
}

// sous header 

h1 {
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 60px;
}
.sous-header {
    text-align: center;
    position: relative;
    z-index: 0;
    background-color: $background-color-grey;
    p {
        color: $color-text;
        margin: 0px;
    }
}

.sous-header__bouton1 {
    @include display-flex;
    padding-top: 30px;
    padding-bottom: 30px;
      a {
        background: $second-gradient;
        border-radius: 25px;
        height: 50px;
        @include display-flex;
        color: #FFFFFF;
        text-decoration: none;
        width: 218px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
        }
      & :hover {
        filter: brightness(1.1);
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.45);
    }
}



// fonctionnement

.fonctionnement {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.fonctionnement__display {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 15px;
    align-items: center;
}

.fonctionnement__bouton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: $background-color-grey;
    border-radius: 20px;
    width: 322px;
    @include shadow-main(15);
        i {
            @include display-flex;
        }
        p {
            padding-top: 20px;
            padding-bottom: 20px;
        }
}

.fonctionnement__numero__pos {
    position: relative;
    left: -10px;
    top: 0px;
}

.fonctionnement__numero {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #9356DC;
    color: white;
}
.icons2 {
    color: #9356DC;
}

.icons1 {
    color: $color-icons;
}

// Restaurants

.restaurants {
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 60px;
    background-color: $background-color-grey;
    display: flex;
    flex-direction: column;
    gap: 18px;
        h2 {
            padding-left: 3px;
            margin: 0px;
            padding-top: 40px;
        }
        img {
            width: 100%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
            height: 180px;
        }
        a {
            text-decoration: none;
        } & a:visited {
            color: inherit;
        }
}

.restaurant__cards {
    display: flex;
    flex-direction: column;
    @include shadow-main(10);
    border-radius: 15px;
}

.restaurant__cards__display {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.restaurant__cards__nouveau {
    position: relative;
}

.restaurant__nouveau {
    position: absolute; 
      top: 4%; 
      right: 4%; 
      background-color: #99E2D0; 
      color: #008766; 
      padding: 5px 10px; 
      font-size: 14px; 
      border-radius: 5px; 
      font-weight: bold;
}

.restaurant__text {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.restaurant__text__display {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.restaurant__icons {
    @include display-flex;
        i {
            font-size: 20px;
        }
}

.heart-input {
    display: none;
  }
  
.heart {
    cursor: pointer;
    display: inline-block;
  }

.fa-solid.fa-heart {
    display: none;
  }
  
  .fa-regular.fa-heart {
    font-size: 1,5rem;  
    color: black;      
    display: inline-block;
    transition: all 0.3s ease;
}
  

.heart-input:checked ~ .heart .fa-regular.fa-heart {
    display: none;  
  }
  
  .heart-input:checked ~ .heart .fa-solid.fa-heart {
    display: inline-block; 
    font-size: 1,5rem;
    color: transparent; 
    background-image: $second-gradient;  
    -webkit-background-clip: text;  
    background-clip: text;  
  }

      /* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Desktop (desktop more than 1024px) */

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 40px;
    }
    .fonctionnement {
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
    }
    .fonctionnement__container {
        width: 85%;
        position: relative;
        left: 18px;
    }
    .fonctionnement__display {
        display: flex;
        flex-direction: row;
        padding-left: 0px;
        gap: 30px;
    }
    .fonctionnement__bouton {
        gap: 25px;
        width: 29%;
    }
    .restaurants {
        @include display-flex;
        flex-direction: column;
        padding-bottom: 25px;
    
    }
    .restaurant__display {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 85%;
    }
    .restaurant__cards__nouveau {
        display: flex;
        gap: 100px;
            a {
                width: 45%;
            }
    }
}
