// display centré et colonne

@mixin display-column{
    display: flex;
    flex-direction: column;
}
    
@mixin display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

// keyframe animation menu

$animation-duration: 2s;  
$animation-delay: 0.6s;  

@keyframes fadeInUp {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1;
  }
}

// couleurs

$main-color: #F6F6F6;
$second-gradient: linear-gradient(#FF79DA,#9356DC);
$menu-color: #FFFFFF;

// general

body {
    margin: 0px;
    font-family: 'Roboto',sans-serif;
}

h1 {
    font-family: 'Shrikhand',sans-serif;
    margin: 0px;
    font-size: 28px;
}

h2 {
    margin: 0px;
}

p {
    margin: 0px;
}

section {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-container {
    background-color: $main-color;
}

// background img

.background__img {
    width: 100%;
    height: 275px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image__palette {
    background-image: url('../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
}

.image__note{
    background-image: url(../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.image__française {
    background-image: url(../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.image__delice {
    background-image: url(../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}



// main

main {
    background-color: $main-color;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    top: -25px;
    left: 0px;
    width: 100%;
    @include display-column;
    gap: 40px;
}

.titre {
    @include display-flex;
    gap: 30px;
    padding-top: 30px;
    padding-left: 5px;
}

.restaurant__icons {
    @include display-flex;
        i {
            font-size: 20px;
        }
}

.heart-input {
    display: none;
  }
  
.heart {
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

.fa-regular.fa-heart,
.fa-solid.fa-heart {
    transition: opacity 250ms ease;
    font-size: 1.5rem;
}

.fa-solid.fa-heart {
    opacity: 0;  
    position: relative;
    left: -28px;
    
  }
  
  .fa-regular.fa-heart {    
    opacity: 1;
} 
  .heart-input:checked ~ .heart .fa-solid.fa-heart {
    color: transparent; 
    background-image: $second-gradient;  
    -webkit-background-clip: text;  
    background-clip: text; 
    opacity: 1; 
  }

//   Menu

h2 {
    font-size: 16px;
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    padding-bottom: 4px;
}

.menu__display {
    @include display-column;
    gap: 5px;
    background-color: $menu-color;
    box-shadow: 0px 4.01px 15.04px 0px #0000001A;
    padding: 15px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    .menu__nomplats {
        font-weight: bold;
        font-size: 18px;
        display: inline-block;
    }
    .menu__nomplats__info {
        display: flex;
        justify-content: space-between;
        .menu__nomplats__info__texte {
            font-size: 14px;
            display: inline-block;
        }
    }
    .menu__anim {
        display: flex;
        align-items: center;
        justify-content: center;
            .menu__prix {
                font-weight: bold;
            }
    }
    
}

// animations css

.check-input {
    display: none;
}

.check {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.fa-solid.fa-circle-check {
    display: none;
    color: $menu-color;
    opacity: 0;
    transition: opacity 300ms ease;
}


.check-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 59px;
    height: 74px;
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%); 
    opacity: 0; 
    transition: transform 300ms ease, opacity 300ms ease; 
}

.check-input:checked + .check {
    .check-container {
        transform: translateX(0); 
        opacity: 1; 
    }

    .fa-solid.fa-circle-check {
        display: block;
        opacity: 1; 
    }    

    .menu__prix {
        transform: translateX(-60px); 
        transition: transform 300ms ease;
    }
    .menu__nomplats {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 65%;
    }
    .menu__nomplats__info__texte {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 70%;
    }
}


.check-input:not(:checked) + .check {
    .check-container {
        transform: translateX(100%); 
        opacity: 0; 
        transition: transform 300ms ease, opacity 300ms ease;
    }

    .fa-solid.fa-circle-check {
        opacity: 0;  
        transition: opacity 300ms ease; 
    }

    .menu__prix {
        transform: translateX(0); 
        transition: transform 300ms ease;
    }
}

section {
    opacity: 0;
    animation: fadeInUp $animation-duration ease-out forwards;
    &:nth-child(1) {
        animation-delay: 0s;
      }
    
      &:nth-child(2) {
        animation-delay: 0.3s;
      }
    
      &:nth-child(3) {
        animation-delay: 0.6s;
      }
      &:nth-child(4) {
        animation-delay: 0.9s;
      }
}

.menu__bouton {
    @include display-flex;
    padding-bottom: 15px;
        a {
            text-decoration: none;
            background: $second-gradient;
            color: $menu-color;
            width: 186px;
            height: 50px;
            @include display-flex;
            border-radius: 25px;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
        }
        a:hover {
            filter: brightness(1.1);
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.45);

        }
    }

    /* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Desktop (desktop more than 1024px) */
@media screen and (min-width: 1024px){

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $menu-color;
}

main {
    width: 70%;
    top: 0px;

}

.background__img {
    height: 380px;
    position: relative;
    bottom: -20px;
}

section {
    display: flex;
    align-items: center;
}

h2 {
    position: relative;
    left: -311px;
}

.menu__display {
    width: 634px;
}

.menu__bouton {
    padding-bottom: 45px;
}

.check {
    cursor: default;
}

.check-input {
    display: none;
}

.check {
    pointer-events: none;
}

.check-input:hover + .check {
    .check-container {
        transform: translateX(0); 
        opacity: 1; 
    }

    .fa-solid.fa-circle-check {
        display: block;
        opacity: 1; 
    }    

    .menu__prix {
        transform: translateX(-60px); 
        transition: transform 300ms ease;
    }
}
}



    

    



