@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

h1, h2 {
  font-size: 24px;
}

.sub__title {
  font-size: 18px;
}

.text {
  font-size: 16px;
}

h2 {
  margin-top: 40px;
}

h3, p {
  margin: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 1;
}
.loader__itemContainer {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader__item--1 {
  background-color: #99E2D0;
}
.loader__item--2 {
  background-color: #99E2D0;
  animation-delay: 0.25s;
}
.loader__item--3 {
  background-color: #99E2D0;
  animation-delay: 0.5s;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 69px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
}
.header-logo .header-logo img {
  width: 197px;
  height: 36px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #EAEAEA;
  position: relative;
  z-index: 1;
}
nav .nav__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
nav .nav__form .nav__form__recherche {
  border: none;
  background-color: #EAEAEA;
}

#Paris::placeholder {
  color: #353535;
  font-size: 16px;
}

h1 {
  margin-bottom: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

.sous-header {
  text-align: center;
  position: relative;
  z-index: 0;
  background-color: #F6F6F6;
}
.sous-header p {
  color: #353535;
  margin: 0px;
}

.sous-header__bouton1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.sous-header__bouton1 a {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  width: 218px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}
.sous-header__bouton1 :hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.45);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.fonctionnement__display {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 15px;
  align-items: center;
}

.fonctionnement__bouton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  background-color: #F6F6F6;
  border-radius: 20px;
  width: 322px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement__bouton i {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fonctionnement__bouton p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.fonctionnement__numero__pos {
  position: relative;
  left: -10px;
  top: 0px;
}

.fonctionnement__numero {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
}

.icons2 {
  color: #9356DC;
}

.icons1 {
  color: #7E7E7E;
}

.restaurants {
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 60px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants h2 {
  padding-left: 3px;
  margin: 0px;
  padding-top: 40px;
}
.restaurants img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  height: 180px;
}
.restaurants a {
  text-decoration: none;
}
.restaurants a:visited {
  color: inherit;
}

.restaurant__cards {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.restaurant__cards__display {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.restaurant__cards__nouveau {
  position: relative;
}

.restaurant__nouveau {
  position: absolute;
  top: 4%;
  right: 4%;
  background-color: #99E2D0;
  color: #008766;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
}

.restaurant__text {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.restaurant__text__display {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.restaurant__icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurant__icons i {
  font-size: 20px;
}

.heart-input {
  display: none;
}

.heart {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.fa-regular.fa-heart,
.fa-solid.fa-heart {
  transition: opacity 250ms ease;
  font-size: 1.5rem;
}

.fa-solid.fa-heart {
  opacity: 0;
  position: relative;
  left: -28px;
}

.fa-regular.fa-heart {
  opacity: 1;
}

.heart-input:checked ~ .heart .fa-solid.fa-heart {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 1;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Desktop (desktop more than 1024px) */
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }
  .fonctionnement {
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    padding-top: 20px;
  }
  .fonctionnement__container {
    width: 85%;
    position: relative;
    left: 18px;
  }
  .fonctionnement__display {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    gap: 30px;
  }
  .fonctionnement__bouton {
    gap: 20px;
    width: 29%;
  }
  .restaurants {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 25px;
  }
  .restaurant__cards__display {
    gap: 50px;
  }
  .restaurant__display {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 85%;
  }
  .restaurant__cards__nouveau {
    display: flex;
    gap: 100px;
  }
  .restaurant__cards__nouveau a {
    width: 45%;
  }
}

/*# sourceMappingURL=style.css.map */
